@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.css';

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 8px 12px;
  font-size: 14px;
}
